@import url(reset/reset.css);
@import url(variable/variable.css);
@import url(responsividade/responsiv.css);
@import url(grid/grid.css);
@import url(layout/layout.css);
@import url(layout/header.css);
@import url(layout/cards/cards.css);
@import url(layout/buttons/buttons.css);

#foto {
    overflow: hidden;
    margin: auto ;
    border-radius: 12px;
}

.lineBreak {
    display: block;
    width: 200px;
}

a {
    text-decoration: none;
    color: var(--nyanza);
}

.site-title{
    font-size: clamp(1.35em, 2.5vw, 2.5em);
}

p, li{
    font-size: 1.14em;
}

ul{
    list-style: none;
    margin-top: 10px;
}
#link-final{
    text-align: center;
    padding: 10px;
}
footer{
    text-align: center;
    color: var(--nyanza);
}
