:root {
    --silver-2: #bbbbbbff;
    --battleship-gray: #7d7e75ff;
    --antiflash-white: #eeeeeeff;
    --light-green: #87d68dff;
    --cool-gray: #8491a3ff;
    --celadon: #bcebcbff;
    --light-green: #87d68dff;
    --cambridge-blue: #93b48bff;
    --vivid-sky-blue: #44ccffff;
}