:root {
    --silver-2: #bbbbbbff;
    --battleship-gray: #7d7e75ff;
    --antiflash-white: #eeeeeeff;
    --cool-gray: #8491a3ff;
    --nyanza: #e2fadbff;
    --celadon: #bcebcbff;
    --vivid-sky-blue: #44ccffff;
}