@import url(../variable/variable.css);
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7px;
    margin: 1.5em;
    border-radius: 10px;
}

.skills-card  {
    height: auto;
    padding: 15px;
}

.location-card{
    height: auto;
    padding: 10px;
}
.about-card , .project-card {
    background-color: var(--primary);
}
.location-card , .skills-card, .card--secondary{
    background-color: var(--secondary);
}