.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7px;
    margin: 1.5em;
    border-radius: 10px;
}

.skills-card  {
    background-color: var(--celadon);
    height: auto;
    padding: 15px;
}

.location-card{
    background-color: var(--vivid-sky-blue);
    height: auto;
    padding: 10px;
}

.project-card {
    background-color: var(--silver-2);
}