main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.section{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}
.section-projects 
.section-title{
    font-size: clamp(1.35em, 2.5vw, 2.5em);
}